body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

h2 {
	margin-top: 30px;
}

table {
	margin: auto;
	border-collapse: collapse;
}

td,
th {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

img {
	margin: auto;
	display: block;
}

.container {
	display: flex;
	justify-content: space-between;
}

.container div {
	width: 49%;
}

.container div h2 {
	text-align: center;
}

.container div img {
	width: 100%;
}

.list {
	margin: auto;
	width: 50%;
}

.list th {
	background-color: #dddddd;
}

#version {
	float: right;
	font-style: italic;
}